<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./partials/head.ejs') %>
		<title>To Do List</title>
	</head>
	<body>
		<h1>New Task</h1>
		<h2>
		<form action="/todos" method="POST">
			Task: <input type="text" name="task" /><br />
			Notes: <input type="text" name="notes" /><br />
			Completed: <input type="checkbox" name="completed" /><br />
			<input type="submit" name="" value="Add Task" />
		</form>
		</h2>
	</body>
</html>