<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./partials/head.ejs') %>
		<title>The To Do List</title>
	</head>
	<body>
		<nav>
			<a href="/todos">Back to To Do List</a>
		</nav>
		<h1><%=todo.task %></h1>
		<h4>
		Notes: <%= todo.notes%>
		<br />
		Completed: <%= todo.completed %>
		</h4>
	</body>
</html>